{{ define "main" }}
	<main>
		<body>

		<!-- Navbar (sit on top) -->
		<div class="w3-top">
		  <div class="w3-bar" id="myNavbar">
		    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
		      <i class="fa fa-bars"></i>
		    </a>
		    <a href="#home" class="w3-bar-item w3-button">HOME</a>
		    <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT ME</a>
		    <a href="#portfolio" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> MY PROJECTS</a>
		    <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT ME</a>
		  </div>

		  <!-- Navbar on small screens -->
		  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
		    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
		    <a href="#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">PROJECTS</a>
		    <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
		  </div>
		</div>

		<!-- First Parallax Image with Logo Text -->
		<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
		  <div class="w3-display-middle" style="white-space:nowrap;">
		    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">DANIEL ULLRICH</span>
		  </div>
		</div>

		<!-- Container (About Section) -->
		<div class="w3-content w3-container w3-padding-64" id="about">
		  <h3 class="w3-center">ABOUT ME</h3>
		  <p class="w3-center"><em></em></p>
		  <p class="w3-hide-large">{{readFile "content/main/about-me.md"}}</p>
		  <div class="w3-row">
		    <div class="w3-col m6 w3-center w3-padding-large">
		      <p><b><i class="fa fa-user w3-margin-right"></i>Daniel Ullrich</b></p><br>
		      <img src="./profile.jpg" class="w3-round w3-image" alt="Photo of Me" width="500" height="333">
		    </div>

		    <!-- Hide this text on small devices -->
		    <div class="w3-col m6 w3-hide-small w3-padding-large">
		      <p>{{readFile "content/main/about-me.md"}}</p>
		    </div>
		  </div>
		  <!-- <p class="w3-large w3-center w3-padding-16">My Skills</p>
		  <p class="w3-wide"><i class="material-icons">code</i></i> Programming</p>
		  <div class="w3-light-grey">
		    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">95%</div>
		  </div>
		  <p class="w3-wide"><i class="material-icons">create</i></i> Graphic Design</p>
		  <div class="w3-light-grey">
		    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">75%</div>
		  </div>
		  <p class="w3-wide"><i class="material-icons">web</i></i> Web Design</p>
		  <div class="w3-light-grey">
		    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">50%</div>
		  </div> -->
		</div>

		<!-- Second Parallax Image with Portfolio Text -->
		<div class="bgimg-2 w3-display-container w3-opacity-min">
		  <div class="w3-display-middle">
		    <span class="w3-xxlarge w3-text-white w3-wide">My Projects</span>
		  </div>
		</div>

		<!-- Container (Portfolio Section) -->
		<div class="w3-content w3-container w3-padding-64" id="portfolio">
		  <h3 class="w3-center">MY WORK</h3>
		  <!-- <p class="w3-center"><em>Click on the images to make them bigger</em></p> -->

		  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
		  <div class="w3-row-padding w3-center">
		    <div class="w3-col s4">
					<p><b><i class="w3-margin-center"></i>Resume</b></p><br>
					<a href="./resume.pdf">
						<img src="./resume.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
					</a>
				</div>

				<div class="w3-col s4">
					<p><b><i class="w3-margin-center"></i>Projects</b></p><br>
					<a href="https://github.com/ullrichd21">
		      	<img src="./projects.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
					</a>
				</div>

				<div class="w3-col s4">
					<p><b><i class="w3-margin-center"></i>Photography</b></p><br>
					<a href="././blog">
		      	<img src="./photography.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
					</a>
		    </div>
				<!-- <div class="w3-col m6 w3-center w3-padding-large">
		      <p><b><i class="fa fa-user w3-margin-right"></i>Daniel Ullrich</b></p><br>
		      <img src="./profile.jpg" class="w3-round w3-image" alt="Photo of Me" width="500" height="333">
		    </div> -->

		    <!-- <div class="w3-col m3">
		      <img src="https://via.placeholder.com/150" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
		    </div> -->

		    <!-- <div class="w3-col m3">
		      <img src="https://via.placeholder.com/150" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
		    </div>

		    <div class="w3-col m3">
		      <img src="https://via.placeholder.com/150" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
		    </div> -->
		  </div>

		  <!-- <div class="w3-row-padding w3-center w3-section">
		    <div class="w3-col m3">
		      <img src="https://via.placeholder.com/150" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
		    </div>

		    <div class="w3-col m3">
		      <img src="https://via.placeholder.com/150" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
		    </div>

		    <div class="w3-col m3">
		      <img src="https://via.placeholder.com/150" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
		    </div>

		    <div class="w3-col m3">
		      <img src="https://via.placeholder.com/150" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
		    </div>
		  </div> -->
		</div>

		<!-- Third Parallax Image with Portfolio Text -->
		<div class="bgimg-3 w3-display-container w3-opacity-min">
		  <div class="w3-display-middle">
		     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT ME</span>
		  </div>
		</div>

		<!-- Container (Contact Section) -->
		<div class="w3-content w3-container w3-padding-64" id="contact">
		  <!-- <h3 class="w3-center">HOW TO GET IN TOUCH</h3>
		  <p class="w3-center"><em>I'd love to hear from you!</em></p> -->

		  <div class="w3-row w3-padding-32 w3-section">
		    <div class="w3-col m8 w3-panel">
		      <div class="w3-large w3-margin-bottom w3-center">
		        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge"></i> Email: ullrichdanny@gmail.com<br>
		      </div>
		    </div>
		  </div>
		</div>

		{{ partial "footer" . }}

		<script>
		// Modal Image Gallery
		function onClick(element) {
		  document.getElementById("img01").src = element.src;
		  document.getElementById("modal01").style.display = "block";
		  var captionText = document.getElementById("caption");
		  captionText.innerHTML = element.alt;
		}

		// Change style of navbar on scroll
		window.onscroll = function() {myFunction()};
		function myFunction() {
		    var navbar = document.getElementById("myNavbar");
		    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
		        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
		    } else {
		        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
		    }
		}

		// Used to toggle the menu on small screens when clicking on the menu button
		function toggleFunction() {
		    var x = document.getElementById("navDemo");
		    if (x.className.indexOf("w3-show") == -1) {
		        x.className += " w3-show";
		    } else {
		        x.className = x.className.replace(" w3-show", "");
		    }
		}
		</script>
		</body>
		</html>

	</main>
{{ end }}
