<div>
{{ if .Paginator.HasPrev }}
	<a href="{{ .Paginator.Prev.URL }}">Previous Page</a>
{{ end }}
{{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
{{ if .Paginator.HasNext }}
	<a href="{{ .Paginator.Next.URL }}">Next Page</a>
{{ end }}
</div>
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
		{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.Prev.URL }}">Previous Page</a>
		{{ end }}
		{{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
		{{ if .Paginator.HasNext }}
			<a href="{{ .Paginator.Next.URL }}">Next Page</a>
		{{ end }}
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
		{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.Prev.URL }}">Previous Page</a>
		{{ end }}
		{{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
		{{ if .Paginator.HasNext }}
			<a href="{{ .Paginator.Next.URL }}">Next Page</a>
		{{ end }}
  </div>
</div>
