{{ define "main" }}
	<main>
		{{ if or .Title .Content }}
		<div>
			{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}

	<style>
		div.gallery {
		  border: 1px solid #ccc;
		}

		div.gallery:hover {
		  border: 1px solid #777;
		}

		div.gallery img {
		  width: 100%;
		  height: auto;
		}

		div.desc {
		  padding: 15px;
		  text-align: center;
		}

		* {
		  box-sizing: border-box;
		}

		.responsive {
		  padding: 0 6px;
		  float: left;
		  width: 24.99999%;
		}

		@media only screen and (max-width: 700px) {
		  .responsive {
		    width: 49.99999%;
		    margin: 6px 0;
		  }
		}

		@media only screen and (max-width: 500px) {
		  .responsive {
		    width: 100%;
		  }
		}

		.clearfix:after {
		  content: "";
		  display: table;
		  clear: both;
		}
	</style>

	<h2>Responsive Image Gallery</h2>

	<h4>Resize the browser window to see the effect.</h4>
	{{ .Render "photoportfolio" }}
	</main>
{{ partial "footer.html" . }}
{{ end }}
